
<div class="container text-center">
	<h1>Welcome To Question Database</h1>

	<h3>We have <%= @users_count %> users</h3>	
	<h3>Around <%= @questions_count %> interesting Questions being asked here! </h3>
	<h3>More than <%= @answers_count %> different answers provided here</h3>

	<h2>Have fun and seek for Question and Answers that inspires you! Enjoy</h2>

</div>
